@page "/counter"

<h1>Counter App</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add One</button>

<button class="btn btn-dark" @onclick="DecramentCounter">Subtract One</button>

<button class="btn btn-light" @onclick="SquareCounter">Square Counter</button>

<button class="btn btn-primary" @onclick="SquareRoot">Square Root</button>

<div>
    <input @bind="newNumber" type="number"/>
    <button class="btn btn-outline-dark" @onclick="SetButton">Set Number</button>
</div>

<div>
    <input @bind="multiplyFactor" type="number"/>
    <button class="btn btn-dark" @onclick="MultiplyFactor">Multiply By Factor</button>
</div>

@code {
    private int currentCount = 0;
    private int newNumber = 0;
    private int multiplyFactor = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecramentCounter()
    {
        currentCount--;
    }

    private void SquareCounter()
    {
        currentCount = (int)Math.Pow(currentCount, 2);
    }

    private void SetButton()
    {
        currentCount = newNumber;
        newNumber = 0;
    }

    private void SquareRoot()
    {
        currentCount = (int)Math.Sqrt(currentCount);
    }

    private void MultiplyFactor()
    {
        currentCount = currentCount * multiplyFactor;
    }

}
